<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<link rel="stylesheet" href="/css/ou-zen-top.css" media="screen" />
<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE"
    th:text="바로잡다"></title>
</head>
<body>
    <main class="flex-1 flex flex-col">
        <th:block layout:fragment="content"></th:block>
    </main>
</body>
</html>